body 
{
	background-color: #f5f5dc;
}

#div_busola
{
	display: flex;	
	background-color: #f5f5dc;
	padding: 0px auto 0px auto;
	margin: 100px auto 0px auto;
}

#busola
{
	width: 90%;
	margin: 0px auto 0px auto;
}

.titlu 
{
	font-size: 50px;
	text-align: center;
	color: #006400;
	font-family: "Verdana";
	border-bottom: 2px dotted white;
}